<div class="row">
	<section class="intro">
		<p>Search for the organisation from which you wish to request your record.</p>

		<!-- Search form -->
    <%= form_tag("/request-data", method: 'post') do %>
      <div class="form-group">
        <input type="text" name="organisation_name" autocomplete="off" class="form-control organisation-name typeahead" placeholder="Type an organisation name" aria-label="Search for an organisation">
      </div>
      <%= submit_tag("Submit", class: "btn btn-primary") %>
    <% end %>

	</section>
</div>
