<h1>Find an organisation</h1>

<%= form_tag("/request-data", method: 'post') do %>
  <div class="form-group">
    <label for="organisation name">Find an organisation</label>
    <input type="text" name="organisation_name" class="form-control organisation-name typeahead" aria-describedby="organisationName" placeholder="Organisation name">
  </div>
  <%= submit_tag("Submit", class: "btn btn-primary") %>
<% end %>
