<div class="row">
  <h1>My request preview</h1>
</div>

<div class="row">
  <p>This email will be sent to the organisation:</p>
</div>

<div class="row">
  <div class="jumbotron email_preview">
    <%= @email_body %>
  </div>
</div>

<div class="alert alert-warning" role="alert">
  This is a prototype built for the <a href="http://nhshackday.com/">NHS Hackday</a>.
  It will not email or store your personal data.
</div>

<div class="row">
  <%= form_tag("/send-email", method: 'post') do %>
    <input type="hidden" name="email_content" value="<%= @email_body %>>">
    <%= submit_tag("Send email", class: "btn btn-primary") %>
  <% end %>
</div>
