<h1>Email preview</h1>

<p>This email will be sent to the organisation:</p>

<p>
  <%= @email_body %>
</p>

<%= form_tag("/send-email", method: 'post') do %>
  <input type="hidden" name="email_content" value="<%= @email_body %>>">
  <%= submit_tag("Send email", class: "btn btn-primary") %>
<% end %>
