<div class="container">
	<div class="row">
		<header class="header">
			<h1>Give me my data</h1>
		</header>
	</div>
	<div class="row">
		<section class="intro">
      <p>Healthcare records are incredibly personal to each and every one of us. Many people will suffer and even die because the right information isn't available at the right time.

      <p>Every individual in Europe has a legal right to request their information from an organisation holds about them including the NHS

      <p>
        <%= link_to "Make a request", "/find" %>

      <h2>How it works</h2>

        <%= link_to "About this website", "/about" %>



		</section>
	</div>



</div>
