<div class="container">
	<div class="row">
		<header class="header">
			<h1>Give me my data</h1>
		</header>
	</div>
	<div class="row">
		<section class="intro">
			Search for the organisation from which you wish to request your record.</p>

			<p>For help and advice on how to find your record see our tips and tricks.</p>
			
			<!-- Search form -->
			<form class="form-inline">
			    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
			</form>
		
		</section>
	</div>



</div>