<div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Frequently Asked Questions</h2>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-question icon"></i>
                    <h3 class="name">Why would I want have my healthcare record?</h3>
                    <p class="description">There are several reasons to consider. Firstly, you have a legal right to have to access to your own personal data, and that means you can become more aware of the information being kept about you by GPs and hospitals.However, it might
                        also enhance the quality of the care you receive: for example, delays are often caused by administrative issues such as not getting records quickly, but having your data to hand would remove this. If you have a particularly complicated
                        or unusual medical history, this could help especially when you see new healthcare professionals who don’t know your story very well.<br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-address-card icon"></i>
                    <h3 class="name">Is my record not shared anyway?</h3>
                    <p class="description">You may have requested and/or received a ‘summary care record’ from your GP, which gives you an overview of you and your medical conditions, but this rarely happens with your data from the hospital. Since you have a legal right to
                        have this information, you can make a request to access it. Your healthcare record is shared between members of the healthcare team in the local hospital so that they know the details about you and your condition in order to best
                        look after you, but it is less commonly shared with you as a copy, unless you request it, or with other NHS organisations.<br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-comments icon"></i>
                    <h3 class="name">How else would I get my data?</h3>
                    <p class="description">You can legally request your information through almost any means such as in writing, verbally or via email. You may already have requested and/or received a ‘summary care record’ from your GP, which gives you an overview of you and
                        your medical conditions, but this happens less frequently with your data from the hospital.<br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-blind icon"></i>
                    <h3 class="name">How do I know where to get my information from?</h3>
                    <p class="description">Start by thinking about which members of the healthcare team have seen you in the past and which community centres, hospitals and practices you attended. <br>If you can't remember but still have a copy of letters / correspondence the
                        organisation name will usually be on the letter. If you expect to see anyone soon you can always ask them to clarify the name of the healthcare organisation they are from. As a final thought you could start off by requesting your
                        information from your doctor. Once you have this information you may find details of other health organisation who you have visited by looking at things like referral letters and where the hospital has sent information to your
                        GP. This will help you identify hospitals and organisations. <br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-credit-card icon"></i>
                    <h3 class="name">Do I need to pay a fee to have access to my records?</h3>
                    <p class="description">You should not have to pay a fee, although if you want multiple copies you might be charged by the organisation. The ICO (Information Commissioner’s Office) state that if the organisation finds your request to be “manifestly unfounded
                        or excessive”, there may be a fee attached. Therefore we give you the option to request all your information or just the information since your last request if there is new information which you would require.<br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-warning icon"></i>
                    <h3 class="name">Any risks to requesting a copy of my records?</h3>
                    <p class="description">You should be aware that there may be risks involved in receiving your data, for example, if your personal record gets lost in the post. If you opt for email instead of post, there may be other risks to consider such as making sure
                        your account is secure and you take care of your password. For your safety there is a verification system on this site in place to help prevent entering incorrect email addresses. <br>The risk these issues happening are usually
                        very small but it is very important to consider and ensure you understand the risks when choosing. You may find it difficult to understand some of the information in your records and this may be a source of concern. Whilst unlikely
                        it is possible you may also learn new information that you had not seen before or had forgotten, which could cause upset or concern. You may also want to think about how you will store the information to ensure it remains secure.
                        Whilst there are a number of potential issues having access to your record is generally been shown to be a good thing and if at any point you are unsure about the information or your health, please speak to your usual health care
                        professional. &nbsp;<br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="features-clean">
        <div class="container">
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-folder-open icon"></i>
                    <h3 class="name">Where is my data stored?</h3>
                    <p class="description">Each organisation (i.e. the hospital or GP you attend) should have a copy of the data they keep. This can be stored electronically on the local system, on paper as part of your medical file, or as a combination of the two. For example,
                        your hospital notes might be handwritten but medical images may be stored on your electronic record. Each NHS trust might have a different method of storing your information however they should be able to send the information via
                        email by scanning / exporting it from their systems. <br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">How long will it take?</h3>
                    <p class="description">The time it takes to get a response may vary, but the organisation in contact has an obligation to respond to your request within one month. If they require more time than this, they must let you know within the first month and offer
                        an explanation as well. Due to 1 month varying in length, good practice is that they respond within 28 days.<br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-id-card icon"></i>
                    <h3 class="name">Why do I need a copy of ID?</h3>
                    <p class="description">The receiving organisation si required by law to verify the individual's identity before sending any information. Your ID is attached to the request and sent to the organisations to help with this process.<br>Whilst this should be
                        sufficient it is possible the organisation may contact you for further information. Always be careful about people contacting you to request personal information. If in doubt stop the communication and contact the organization
                        through a known and trusted phone number or email address.<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-paste icon"></i>
                    <h3 class="name">What documents will I need to show?</h3>
                    <p class="description">A form of ID such as a passport or a driving licence is adequate, and an up-to-date proof of address might be helpful. This could be in the form of a utility bill, council tax bill or a bank statement.<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-database icon"></i>
                    <h3 class="name">Do you store my data?</h3>
                    <p class="description"><br>We may temporarily store some of your information to enable us to carry out the services. We keep hold of your email address so that we can stay in touch with you as you go through the process, for example, in order to contact
                        you to see whether you were satisfied with your response. However, we do not save any other personal details and will erase your details shortly after you finish using the service, which is why we enable you to download your data
                        so that you can reuse it at a later date.<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-phone icon"></i>
                    <h3 class="name">Do health organisations have to reply?</h3>
                    <p class="description">There is a legal obligation on the part of the organisation to reply. However, there is a possibility that the request for access to your personal data can be declined. There must be an appropriate justification provided to you for
                        this to be valid. This should be rare and in very exceptional circumstances. If you have any problems please record these so we can help monitor how organisations are doing.<br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="features-clean">
        <div class="container">
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list icon"></i>
                    <h3 class="name">Can an organisation require me to fill in a particular form?</h3>
                    <p class="description">An organisation might ask you to complete a form in order to simplify their process of collecting the required information. However, the forms are not compulsory to complete if you have provided a valid request to them, and they still
                        have an obligation to respond to your request. This service is designed for the specific purpose so in most cases we do not expect organizations to require any more information other than perhaps to verify your information. If
                        you find you are being required to fill in a form or repeat information that you have already entered via this website please provide this feedback.<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-search icon"></i>
                    <h3 class="name">What if I cannot find the organisation I need?</h3>
                    <p class="description">Please contact us if you are unable to find the organisation you are looking for.<br></p>
                </div>
            </div>
        </div>
    </div>
