<h1>Give Me My Data</h1>

<h2>How it works</h2>
<p>Healthcare records are incredibly personal to each and every one of us. Many people will suffer and even die because the right information isn't available at the right time.

<p>Every individual in Europe has a legal right to request their information from an organisation holds about them including the NHS

<p>This website helps individuals prepare applications to request their data
